/* 
    A pseudo-classe CSS  :root se equipara à raíz de uma árvore,
    que por sua vez representa o documento. Aplicado ao HTML, :root representa o elemento <html>  
    e é identico ao seletor html, exceto que sua especificidade é mais alta.
 */
:root {
    /* Variávis css */
    --brown: #BC361B;
    --orange: #F56414;
    --white: #ffffff;
    --white-ice: #fafafa;
    --black: #222222;
    --gray: #666666;
    --dark-gray: #323232;
    --light-gray: #dddddd;
}